.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}


.publicHeader {
    font-size: 1.8rem;
}

.publicHeader h1 {
    margin: 0;
}

.publicMain {
    padding: 5px;
    margin: 20px;
    overflow: hidden;
    height: 200px;
    border-radius: 10px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.publicActive {
    height: 600px;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    font-size: 0.8rem;
}

.mainOne p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
}
.mainTwo p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
}
.mainThree p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
}
.mainFour p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
}

.mainReadMore {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.publicFooter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.publicFooter a:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #000;
    width: fit-content;
    padding: 5px 10px;
    height: 50px;
    border-radius: 8px;
    text-decoration:none;
}

.publicFooter a:nth-child(2) {
    color: #000;
    width: 80px;
}

/* Home */
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
}

.logo {
    margin-bottom: 5px;
}

.icon {
    width: 128px;
    height: 128px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formContainer h1 {
    font-size: 2.25rem;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.formContainer form button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
}


.inputContainer {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: relative;
}

.inputContainer label {
    position: absolute;
    top: -18px;
    left: 5px;
    font-size: 0.75rem;
}

.inputContainer input {
    width: 100%;
    height: 40px;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    border: 1px solid #000;
}

.inputContainer input:focus {
    outline: none;
}

.gameModeContainer {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: relative;
}

.gameModeContainer label {
    position: absolute;
    top: -18px;
    left: 5px;
    font-size: 0.75rem;
}

.gameModeContainer select {
    width: 100%;
    height: 40px;
    padding: 0 10px 0 10px;
    border-radius: 20px;
    border: 1px solid #000;
    padding: auto;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    background-color: #fff;
}

.gameModeContainer select:focus {
    outline: none; 
}

.playerOnlineCounter {
    position: absolute;
    bottom: 50px;
    left: 40px;
}

.playerOnlineCounter p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: green;
}

.infoBtnContainer {
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.infoBtn {
    border: none;
    background-color: transparent;
    color: #000;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.infoBtn svg {
    width: 100%;
    height: 100%;
}

.infoPopup {
    position: absolute;
    bottom: 20px;
    right: 50px;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
    z-index: 10;
}

.recordTitle{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.recordCount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 4px;
}

.recordCount p{
    font-size: 0.9rem;
    margin : 0;
    font-weight: 500;
}

.recordCount p:nth-child(1) {
    color: #22c55e; /* green for win */
}

.recordCount p:nth-child(2) {
    color: #ef4444; /* red for lose */
}

.recordCount p:nth-child(3) {
    color: #f59e0b; /* yellow for draw */
}
/* *************************************************** */

/* Game */
.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.gameContainer p {
    margin: 0;
}

.game__title {
    text-align: center; 
    margin: 0;
}

.game__title h2 {
text-transform: capitalize;
margin: 0;
}

.game__player {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
}

.game__you {
    font-size: 1rem;
    font-weight: 500;
}

.game__turn {
    font-size: 1rem;
    font-weight: 500;
}

.game__boxes {
    position: relative;
    display: grid;
}

.game__boxes_classic {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 350px;
    height: 350px;
}

.game__boxes_enhanced {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 350px;
    height: 350px;
}

.game__boxes_endless {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 350px;
    height: 350px;
}

.game__boxes_cell {
    position: relative;
    background-color: #D9D9D9;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
}

.game__boxes_cell:nth-child(odd) {
    border-radius: 20px;
}

.game__boxes_cell:nth-child(even) {
    border-radius: 10px;
}

/*

.game__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);    
    gap: 5px;                             
    width: 350px;
    height: 350px;
    margin: 20px auto;
}

.game__boxes_enhanced {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 400px;  
    height: 400px;
}

.game__boxes_cell {
    background-color: #D9D9D9;
    position: relative;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}


*/
/* MatchMaking */
.matchMakingBG {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.matchMakingContainer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
    padding: 15px;
    border-radius: 1rem;
    text-align: center;
    width: 250px;
    height: 155px;
}

.matchMakingGameMode {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    text-transform: capitalize;
}

.matchMakingContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.matchMakingTitle {
    font-size: 1rem;
    font-weight: 500;
}

.contentLoader {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #000;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cancelBTN {
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.matchFoundInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.matchFoundInfo p{
    flex: 1;
}

.matchFoundCountDown {
    position: relative;
}

.matchFound__contentLoader {
    position: absolute;
    top: -3.5px;
    left: -0.8rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #000;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

/*      SHAPES       */
.symbolContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-symbol {
    width: 80%;
    height: 80%;
    position: absolute;
}

.x-symbol svg {
    width: 100%;
    height: 100%;
}

.o-circle {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    border: none;
}

.o-circle svg {
    width: 100%;
    height: 100%;
}

.o-circle circle {
    fill: none;
    stroke: #000;
    stroke-width: 10;
}

.resultBG {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.resultTitle {
    margin: 0;
}

.resultDescription {
    font-weight: 500;
}

.resultBackBtn {
    margin-top: 10px;
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    color: #000;
}

.resultBackBtn:hover {
    text-decoration: underline;
}